.about-me-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }
  
  .about-me-text {
    flex: 2;
    color: #333;
  }
  
  .about-me-text h1 {
    color: #fc42a8c9;
  }
  
  .about-me-image {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .about-me-image img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }