header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1c1e21;
}

header h1 {
  color: #fc42a8c9;
}

header ul {
  list-style-type: none;
  display: flex;
}

header ul li {
  margin-right: 20px;
}

header ul li a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s;
}

header ul li a:hover {
  color: #fc42a8c9;
}