---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import AboutMe from "../components/AboutMe.astro";
import Projects from "../components/Projects.astro";
import Hero from "../components/Hero.astro";
import Education from "../components/Education.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portafolio de Lorena Barrera</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
    <link rel="icon" type="image/png" href="/img/icons8.jpg" />
  </head>
  <body>
    <!-- Header -->
    <Header />

    <!-- Hero -->
    <section id="inicio">
      <Hero />
    </section>

    <!-- Proyectos -->
    <section id="proyectos">
      <Projects />
    </section>

    <!-- Educación -->
    <section id="educacion">
      <Education />
    </section>

    <!-- Sobre Mí -->
    <section id="sobre-mi">
      <AboutMe />
    </section>

    <!-- Footer -->
    <Footer />
    <!-- Script para el menú desplegable -->
    <script>
      const menuToggle = document.querySelector(".menu-toggle");
      const navList = document.querySelector(".nav-list");

      if (menuToggle && navList) {
        menuToggle.addEventListener("click", function () {
          navList.classList.toggle("open");
        });
      }
    </script>
  </body>
</html>
