<section id="sobre-mi" class="about-me-section">
  <div class="about-me-container">
    <div class="about-me-text">
      <h2>Sobre mí</h2>
      <p>
        Soy una desarrolladora web con enfoque en educación y ciencias sociales,
        apasionada por la tecnología. He adquirido habilidades en JavaScript,
        HTML, CSS, React, Angular, Node.js, Java, Tailwind CSS y testing QA a
        través del bootcamp de Laboratoria, además de aprender Java en
        TalentoTech. Actualmente, sigo ampliando mis conocimientos en frameworks
        como Vue.js, Astro, bases de datos y programación backend con Node.js,
        Express, Java y Spring Boot. Me gusta poner en práctica estos
        conocimientos en proyectos desafiantes y seguir creciendo
        profesionalmente.
      </p>
      
    </div>
    <div class="about-me-photo">
      <img src="/img/certi.png" alt="Lorena Barrera" class="styled-photo" />
    </div>
  </div>
</section>
<style>
  .about-me-section {
    padding: 2rem;
    background-color: #222;
    color: #fff;
  }

  .about-me-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .about-me-text {
    flex: 1;
    margin-right: 2rem;
    min-width: 300px;
  }

  .about-me-text h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .about-me-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
  }

  .about-me-photo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
  }

  .photo-container {
    position: relative;
    border-radius: 12px; /* Esquinas redondeadas */
    overflow: hidden;
    padding: 10px; /* Ancho del borde */
    transition:
      transform 0.2s,
      box-shadow 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Sombra */
    border: 5px solid; /* Borde grueso */
    border-image: linear-gradient(135deg, #ff66b2, #9966ff, #ff99cc) 1; /* Gradiente en el borde */
  }

  .photo-container::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 12px;
    background: linear-gradient(135deg, #ff66b2, #9966ff, #ff99cc);
    z-index: -1;
    transition: background-position 0.5s ease; /* Movimiento suave del gradiente */
  }

  .photo-container:hover::before {
    background-position: 100% 0%; /* Mueve el gradiente en hover */
  }

  .photo-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6); /* Sombra más pronunciada en hover */
  }

  .styled-photo {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 12px; /* Esquinas redondeadas de la foto */
  }
</style>
