<footer class="footer">
  <h3>Sígueme en mis redes sociales 🌐</h3>
  <div class="social-icons">
    <a
      href="https://www.linkedin.com/in/lorenabarr/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="img/linkedin.svg" alt="LinkedIn" class="social-icon" />
    </a>
    <a
      href="https://github.com/LorenaBarr"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="/img/github.svg" alt="GitHub" class="social-icon" />
    </a>
    <a href="https://x.com/LoreBarr0" target="_blank" rel="noopener noreferrer">
      <img src="img/twitterx.svg" alt="Twitter" class="social-icon" />
    </a>
    <a
      href="https://www.facebook.com/lorenabarrerafrontenddev/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="/img/facebook.svg" alt="Facebook" class="social-icon" />
    </a>
    <a
      href="https://www.instagram.com/lorebarr0/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="/img/inst.svg" alt="Instagram" class="social-icon" />
    </a>
  </div>
  <p class="contact-email">📧 lorebarr120@gmail.com</p>
</footer>

<style>
  .footer {
    padding: 2rem;
    background-color: #333;
    color: #fff;
    text-align: center;
  }

  .footer h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1rem;
  }

  .social-icon {
    width: 40px; /* Iconos más grandes */
    height: 40px;
    transition: transform 0.3s ease;
  }

  .social-icon:hover {
    transform: scale(1.2);
  }

  .contact-email {
    margin-top: 1rem;
    font-size: 1.1rem;
    color: #fff;
  }
</style>
